# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# GCP credentials — NUNCA subir al repo
*.json
service-account*.json
gcp-key*.json

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# DBT
transformation/target/
transformation/dbt_packages/
transformation/logs/
transformation/.user.yml